{% extends 'base.html.twig' %}

{% block title %}Ajout stagiaire{% endblock %}

{% block body %}

    <div class="form-body">
    
        <h1>Formulaire d'ajout/modification d'un stagiaire : </h1>
        <p>Remplissez le formulaire pour ajouter un nouveau stagiaire du centre de formation</p>

        <hr>

        {{ form_start(formAddStagiaire) }}

            {{ form_row(formAddStagiaire.nom) }}
            {{ form_row(formAddStagiaire.prenom) }}
            {{ form_row(formAddStagiaire.dateNaissance) }}
            {{ form_row(formAddStagiaire.sexe) }}
            {{ form_row(formAddStagiaire.ville) }}
            {{ form_row(formAddStagiaire.email) }}
            {{ form_row(formAddStagiaire.telephone) }}

            <hr>

            <div class="btn-container">
                <button type="submit" class="btn">AJOUTER LE STAGIAIRE</button>
            </div>
        {{ form_end(formAddStagiaire) }}
    </div>

{% endblock %}
