{% extends 'base.html.twig' %}

{% block title %}Détail Stagiaire{% endblock %}

{% block body %}
        <div class="stagiaire-options">
            <a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
            <a href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}" onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer le stagiaire ?')"><i class="fa-solid fa-trash fa-lg"></i></a>
        </div>
    <div class="stagiaire-container">

        <div class="stagiaire-info">
            
            <div>
                <h3>Informations personnelles</h3>
                <p>Nom : {{stagiaire.nom}}</p>
                <p>Prénom : {{stagiaire.prenom}}</p>
                <p>Sexe : {{stagiaire.sexe}}</p>
                <p>Date de naissance : {{stagiaire.dateNaissance | date('d/m/Y')}}</p>
                <p>Ville : {{stagiaire.ville}}</p>
            </div>
            <div>
                <p><i class="fa-solid fa-envelope fa-lg"></i> : {{stagiaire.email}}</p>
                <p><i class="fa-solid fa-phone fa-lg"></i> : {{stagiaire.telephone}}</p>
            </div>
        </div>

        <div class="stagiaire-sessions">
            <h3>Prochaines sessions</h3>
            <div class="stagiaire-sessionss">    
            {% for session in stagiaire.sessions %}
                <div class="stagiaire-session">
                    <p><a href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a></p>
                    <p>du {{session.dateDebut | date('d/m/Y') ~ ' au ' ~ session.dateFin | date('d/m/Y') }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}