{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}
    <h1>Prochaines sessions : </h1>

    {% for session in sessions %}
        <div> 
            {% set count = 0 %}
            {% for stagiaire in session.stagiaires %}
                {% set count = count +1 %}
            {% endfor %}

            {% set placesRestantes = session.nbPlaces - count %}
            <p><a href="{{ path('show_session', {'id': session.id}) }}">{{ session.titre }}</a></p>
            <p>{{session.dateDebut | date('d-m-Y') ~ ' ' ~ session.dateFin | date('d-m-Y')}}</p>
            <p>{{ placesRestantes }}</p>
            <a href="{{ path('delete_session', {'id': session.id}) }}">Delete</a>
            <br>
            
        </div>
    {% endfor %}


{% endblock %}
