{% extends 'base.html.twig' %}

{% block title %}Ajout session{% endblock %}

{% block body %}

    <div class="form-body">

        <h1>Formulaire d'ajout/modification d'une session : </h1>
        <p>Remplissez le formulaire pour ajouter une nouvelle session</p>

        <hr>

    
        {{ form_start(formAddSession) }}
            
            {{ form_row(formAddSession.titre) }}
            {{ form_row(formAddSession.nbPlaces) }}
            {{ form_row(formAddSession.dateDebut) }}
            {{ form_row(formAddSession.dateFin) }}
            <div class="select-container">
                {{ form_row(formAddSession.formateur, {'attr': {'class': 'selector'}}) }}
            </div>

            <hr>
            
            <div class="btn-container">
                <button type="submit" class="btn">AJOUTER/MODIFIER LA SESSION</button>
            </div>

    {{ form_end(formAddSession) }}

    </div>

{% endblock %}
