{% extends 'base.html.twig' %}

{% block title %}Détail Session{% endblock %}

{% block body %}
    <div class='session-name'>
        <h1>{{ session }}</h1>
        <a class='delete-session' href="{{ path('delete_session', {'id': session.id}) }}">supprimer la session <i class="fa-solid fa-trash fa-lg"></i></a>
        
    </div>
    <div class="session-formateur">
        <p>Formateur : <a href="{{ path('show_formateur', {'id': session.formateur.id}) }}">{{ session.formateur }}</a></p>
        
        {% set nbInscrits = 0 %}
        {% for stagiaire in session.stagiaires %}
            {% set nbInscrits = nbInscrits +1 %}
        {% endfor %}

        <p>Places restantes : {{ session.nbPlaces - nbInscrits }}</p>
    </div>

    <div class="session-page">    
        
            <div class="stagiaires-in">

                {% if session.stagiaires is empty  %}
                    <p>Pas encore de stagiaire inscrit</p>
        
                {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>STAGIAIRES INSCRITS</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stagiaire in session.stagiaires|sort((a, b) => a.nom <=> b.nom) %}
                            <tr>
                                <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a></td>
                                <td><a href="{{ path('remove_stagiaire', {'session_id': session.id , 'stagiaire_id': stagiaire.id}) }}"><i class="fa-regular fa-square-minus"></i></a></td>
                            </tr>  
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>

            <div class="stagiaires-out">
                
                <table>
                    <thead>
                        <tr>
                            <th>STAGIAIRES NON-INSCRITS</th>
                            {% if session.nbPlaces - nbInscrits > 0 %}
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for stagiaire in nonInscrits|sort((a, b) => a.nom <=> b.nom) %}
                            <tr>
                                <td>
                                    <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a>
                                </td>
                                <td>
                                {% if session.nbPlaces - nbInscrits > 0 %}
                                    <a href="{{ path('enlist_stagiaire', {'session_id': session.id , 'stagiaire_id': stagiaire.id}) }}"><i class="fa-regular fa-square-plus"></i></a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
            </div>

        
            <div class='modules'>
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">MODULES DE LA SESSION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for programme in session.programmes %}
                            <tr>
                                <td>{{ programme.module.nom }}</td>
                                <td>{{ programme.nbJours }} jours</td>
                                <td><a href="{{ path('delete_programme', {'id': programme.id}) }}"><i class="fa-solid fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
            <div class="ajout-module">
                <table><thead><th>AJOUT D'UN MODULE A LA SESSION</th></thead></table>
                

                {{ form_start(formAddProgramme) }}
            
                    {{ form_row(formAddProgramme.module) }}
                    {{ form_row(formAddProgramme.nbJours) }}
            
                    <div class="btn-container">
                        <button type="submit" class="pgr-btn">AJOUTER AU PROGRAMME</button>
                    </div>

                {{ form_end(formAddProgramme) }}
            </div>
    </div>


{% endblock %}
