{% extends 'base.html.twig' %}

{% block title %}Détail Session{% endblock %}

{% block body %}
    <h1>{{ session }}</h1>

    {% set nbInscrits = 0 %}
    {% for stagiaire in session.stagiaires %}
        {% set nbInscrits = nbInscrits +1 %}
    {% endfor %}

    <p>Formateur : <a href="{{ path('show_formateur', {'id': session.formateur.id}) }}">{{ session.formateur }}</a></p>

    <p>Places restantes {{ session.nbPlaces - nbInscrits }}</p>
    <div class='modules'>
        <p>Modules de la session :</p>
        {% for programme in session.programmes %}
            {{ programme.module.nom ~ ' ' ~ programme.nbJours ~ ' jours' }} 
            <a href="{{ path('delete_programme', {'id': programme.id}) }}">Delete</a>
            <br>
        {% endfor %}
        <p>Ajout module au programme: </p>

        {{ form(formAddProgramme) }}
    </div>

    <div class="stagiaires">
        <p>Stagiaires de la session :</p>
        {% if session.stagiaires is empty  %}
            <p>Pas encore de stagiaire inscrit</p>
        
        {% else %}
            {% for stagiaire in session.stagiaires|sort((a, b) => a.nom <=> b.nom) %}
                <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a>
                <a href="{{ path('remove_stagiaire', {'session_id': session.id , 'stagiaire_id': stagiaire.id}) }}">désinscrire</a> <br>
            {% endfor %}

        {% endif %}
    </div>

    <div>
        <p>Non-inscrits:</p>
        {% for stagiaire in nonInscrits|sort((a, b) => a.nom <=> b.nom) %}
            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a> 
            
            {% if session.nbPlaces - nbInscrits > 0 %}
                <a href="{{ path('enlist_stagiaire', {'session_id': session.id , 'stagiaire_id': stagiaire.id}) }}">inscrire</a>
            {% endif %}

            <br>

        {% endfor %}
    </div>


{% endblock %}
