{% extends 'base.html.twig' %}

{% block title %}Détail Session{% endblock %}

{% block body %}
    <h1>{{ session }}</h1>

    <p>Formateur : {{ session.formateur.prenom ~ ' ' ~ session.formateur.nom}}</p>
    <a href="{{ path('edit_session', {'id': session.id}) }}">Ajouter stagiaires</a>

    <div class='modules'>
        <p>Modules de la session :</p>
        {% for programme in session.programmes %}
            {{ programme.module.nom ~ ' ' ~ programme.nbJours ~ ' jours' }} 
            <a href="{{ path('delete_programme', {'id': programme.id}) }}">Delete</a>
            <a href="{{ path('edit_programme', {'id': programme.id}) }}">Edit</a>
            <br>
        {% endfor %}
    </div>

    <div class="stagiaires">
        <p>Stagiaires de la session :</p>
        {% for stagiaire in session.stagiaires %}
            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a>
            <a href="{{ path('remove_stagiaire', {'session_id': session.id , 'stagiaire_id': stagiaire.id}) }}">désinscrire</a> <br>
        {% endfor %}
    </div>

    <div>
        <p>non-inscrits:</p>
        {% for stagiaire in nonInscrits %}
            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a> 
            <a href="">inscrire</a><br>
        {% endfor %}
    </div>


{% endblock %}
