<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="/styles/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="menu">
            <ul>
                <li class="nav-sessions"><a href="{{ path('app_session') }}">SESSIONS</a></li>
                <li class="nav-stagiaires"><a href="{{ path('app_stagiaire') }}">FORMATEURS/STAGIAIRES</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn"><i class="fa-solid fa-plus fa-xl"></i></a>
                    <div class="dropdown-elements">
                        <a href="{{ path('new_session') }}">+SESSION</a>
                        <a href="{{ path('new_formateur') }}">+FORMATEUR</a>
                        <a href="{{ path('new_stagiaire') }}">+STAGIAIRE</a>
                        <a href="{{ path('new_module') }}">+MODULE</a>
                    </div>
                </li>
                <li style="float:right"><a href="{{ path('app_logout') }}" onclick="return confirm('Êtes-vous sûr(e) de vouloir vous déconnecter?')"><i class="fa-solid fa-right-from-bracket fa-xl"></i></a></li>
            {% if is_granted("ROLE_ADMIN") %} <!-- only admin can go to registration page -->
                <li style="float:right"><a href="{{ path('app_register') }}"><i class="fa-solid fa-user-plus fa-xl"></i></a></li>
            {% endif %}
                
            </ul>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
