<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
        <a href="{{ path('new_stagiaire') }}">Ajout stagiaire</a>
        <a href="{{ path('new_session') }}">Ajout session</a>
        <a href="{{ path('new_formateur') }}">Ajout formateur</a>
        <a href="{{ path('new_programme') }}">Ajout programme</a>
        <a href="{{ path('app_session') }}">Voir les sessions</a>
        <a href="{{ path('app_stagiaire') }}">Voir les stagiaires</a>
        <a href="{{ path('app_formateur') }}">Voir les formateurs</a>
         

        {% if is_granted("ROLE_ADMIN") %} <!-- only admin can go to registration page -->
            <a href="{{ path('app_register') }}">Créer un nouveau compte</a>
        {% endif %}

        

        {% block body %}{% endblock %}
    </body>
</html>
