{% extends 'base.html.twig' %}

{% block title %}Ajout formateur{% endblock %}

{% block body %}
    <div class="form-body">
        <h1>Formulaire d'ajout/modification d'un formateur : </h1>
        <p>Remplissez le formulaire pour ajouter un nouveau formateur</p>
    
        <hr>

        {{ form_start(formAddFormateur) }}
            
            {{ form_row(formAddFormateur.nom) }}
            {{ form_row(formAddFormateur.prenom) }}
            {{ form_row(formAddFormateur.email) }}

            <hr>
            
            <div class="btn-container">
                <button type="submit" class="btn">AJOUTER/MODIFIER LE FORMATEUR</button>
            </div>

        {{ form_end(formAddFormateur) }}
    </div>
{% endblock %}