{% extends 'base.html.twig' %}

{% block title %}Détail Formateur{% endblock %}

{% block body %}
    <div class='person-name'>
        <h1>{{ formateur }}</h1>
        <div>
            <a href="{{ path('edit_formateur', {'id': formateur.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="{{ path('delete_formateur', {'id': formateur.id}) }}" onclick="return confirm('êtes-vous sûr(e)?')"><i class="fa-solid fa-trash"></i></a>
        </div>
    </div>
    
    
    <div class="formateurInfo">
        
        <p><i class="fa-solid fa-envelope fa-lg"></i> : {{formateur.email}}</p>
    </div>

    <div class="formateur-sessions">
        <h3>Prochaines sessions</h3>
        {% for session in formateur.sessions %}
            <div class="formateur-session">
                <p><a href='{{ path('show_session', {'id': session.id}) }}'>{{ session}}</a></p>
                <p>du {{ session.dateDebut | date('d/m/Y') ~ ' au ' ~ session.dateFin | date('d/m/Y') }}</p>
            </div>
        {% endfor %}
    </div>
    

{% endblock %}